
nav {
    background-color: #3ba156; 
    padding: 15px; 
    position: fixed; 
    width: 100%; 
    top: 0;
    left: 0;
}


nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-start; 
}


nav ul li {
    margin-right: 20px; 
}


nav ul li a {
    text-decoration: none; 
    color: white; 
    font-family: Arial, sans-serif; 
    font-size: 16px;
}


nav ul li a:hover {
    color: blue; 
}


body {
    margin: 0;
    padding-top: 60px;
}
